body {
  background-color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;

}
h2{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.56rem;
}
h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 5.6rem;

}
.a {
  position: absolute;
  padding-top: 100px
}

.b {
  position: relative;
  left: 40px;
}
.c{
  position: absolute;
}
.top{
  width: 100%;
  height:100%;
background-color: skyblue;
}
